@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap");
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: #32333b;
}

.container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 100vh;
}
.container h4 {
	color: #ffffff;
	font-size: 4.5em;
	font-family: "Tangerine", cursive;
}
/*
Valentine's Pen
---- */

.centered {
	position: relative;
	text-align: center;
	top: -12%;
}

.no:hover {
	transform: scale(1.1, 1.1);
	cursor: pointer;
}

.no {
	width: 146px;
	height: 50px;
	padding: 10px 40px;
	margin: 0 20px;
	border: 2px solid white;
	border-radius: 5px;
	color: #ffffff;
	font-size: 1.5em;
	transition: all 0.25s ease-in-out;
	background-color: #32333b;
	box-shadow: 0 15px 40px #464852;
	position: absolute;
	top: 50%;
	right: 30%;
}

.yes {
	position: absolute;
	background-color: #12d890;
	top: 50%;
	right: 15%;
}

#answer--no {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}
#answer--no {
	background-image: url("https://media.giphy.com/media/QBEhpJHrv7poQ/giphy.gif");
	background-repeat: no-repeat;
	background-size: cover;
}

#app-cover {
	position: relative;
	transform: scale(2);
	margin: 0 10%;
}
.square {
	position: relative;
	height: 140px;
	width: 140px;
	box-shadow: inset 0 0 0 10px #464852;
	animation: rotate 4s linear infinite;
}
@keyframes rotate {
	0% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
.square span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
}
.square span:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border: none;
	/* border-top: 10px solid #fff; */
	animation: animate 2s linear infinite;
}
@keyframes animate {
	0% {
		left: -100%;
	}
	25% {
		left: 0;
	}
	50%,
	100% {
		left: 100%;
	}
}
.square span:nth-child(1) {
	transform: rotate(0deg);
}
.square span:nth-child(2) {
	transform: rotate(90deg);
}
.square span:nth-child(3) {
	transform: rotate(180deg);
}
.square span:nth-child(4) {
	transform: rotate(270deg);
}

.square span:nth-child(1):before {
	animation-delay: 0s;
}
.square span:nth-child(2):before {
	animation-delay: 0.5s;
}
.square span:nth-child(3):before {
	animation-delay: 1s;
}
.square span:nth-child(4):before {
	animation-delay: 1.5s;
}
#ghost {
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	width: 66px;
	height: 66px;
	margin: -37.5px auto 0 auto;
	background-color: #fff;
	border-radius: 50% 50% 0 0;
	animation: updown 4s ease 0s infinite forwards;
	box-shadow: inset -3px 0 0 0px #e4e4e4, 0 0px 0px 6px #e91e63;
}
@keyframes updown {
	0% {
		margin-top: -37.5px;
	}
	25% {
		margin-top: -50px;
	}
	50% {
		margin-top: -37.5px;
	}
	75% {
		margin-top: -50px;
	}
	100% {
		margin-top: -37.5px;
	}
}
#eyes {
	top: 20px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.eye {
	background-color: #000;
	border-radius: 50%;
}
#eyes,
.eye {
	position: absolute;
	width: 17px;
	height: 17px;
}
.eye:first-child {
	left: -14px;
}
.eye:last-child {
	left: 14px;
}
.eye:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 4px;
	width: 4px;
	height: 4px;
	background-color: #fff;
	border-radius: 50%;
}
#mouth {
	position: absolute;
	top: 42px;
	left: 0;
	right: 0;
	width: 12px;
	height: 12px;
	background-color: #000;
	border-top-width: 0;
	border-radius: 0 0 100% 100%;
	margin: 0 auto;
}
#mouth:before,
#mouth:after {
	content: "";
	position: absolute;
	top: -3px;
	width: 10px;
	height: 6px;
	background-color: #ff6d9f;
	border-radius: 10px;
}
#mouth:before {
	left: -15px;
}
#mouth:after {
	right: -15px;
}
#legs {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -20px;
	width: 22px;
	height: 22px;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 0 0 50% 50%;
}

#legs:before,
#legs:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	border-radius: 0 0 50% 50%;
}

#legs:before {
	left: -22px;
}

#legs:after {
	left: 22px;
	box-shadow: inset -3px 0 0 0px #e4e4e4;
}

.made-with-love {
	position: fixed;
	left: 0;
	width: 100%;
	bottom: 10px;
	text-align: center;
	font-size: 10px;
	z-index: 9;
	font-family: arial;
	color: #ff0083;
	font-weight: 600;
}
.made-with-love a {
	color: #ff0083;
	text-decoration: none;
}
.made-with-love a:hover {
	text-decoration: underline;
}
